/*my code*/
.content{
    background-image: url("img/David.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 150px;
}

.topnav{
    background-color: #3a99d2;
    overflow:hidden;
    margin:0px;
}

.topnav th:hover {
    background-color:darkblue;
}

.topnav a{
    font-size: 20px;
    font-family: "Arial";
    color: white;
}
.content h1{
    text-align:center;
    font-family: "Arial";
}

.content h2{
    text-align:center;
    font-family: "Arial";
}

.content h3{
    font-family: "Arial";
    margin-left:50px;
    color: #3a99d2;
}

.content p{
    font-size:16px;
    margin-left:50px;
    font-family:"Palatino Linotype";

}

span {
   color: red;
}

.footer{
    postion:bottom;
}

.footer p{
    text-align:right;
    font-size:10px;
}
