/*my code*/

.topnav{
    background-color: #3a99d2;
    overflow:hidden;
    margin:0px;
}

.topnav th:hover {
    background-color:darkblue;
}

.topnav a{
    font-size: 20px;
    font-family: "Arial";
    color: white;
}

.content h1{
    text-align:center;
    font-family: "Arial";
}

.content h2 {
    text-align: center;
    font-family: "Arial";
}

.content a {
    font-family: "Palatino Linotype";
    color: #3b7822;
}

.content li{
    font-family: "Arial";
    font-size:30px;
    margin-left:50px;
}

.content ol{
    font-size:20px;
    font-family:"Arial";
}

.content ol p{
    margin-left:50px;
    font-size:20px;
    color: #2a2a2a;
    font-family:"Palatino Linotype";
}
.content tr td span{
    font-family: "Arial";
    font-size: 40px;
}
.content tr td{
    font-family: "Palatino Linotype";
    font-size: 20px;
}

.footer{
    postion:bottom;
}

.footer p{
    text-align:right;
}
